{% assign current = page.url | downcase | split: '/' %}

<header role="banner">
    <!--<h1 class="logo">{{ site.title }}</h1>-->
    <nav role="navigation">
        <ul>
        {% for item in site.menus.header %}
            <li class="menu-item-{{ loop.index }}">
                {% assign target = item.url | downcase | split: '/' %}
                <a href="{{ item.url }}" {% if current[1] == target[1] %} class="active"{% endif %} title="{{ item.title }}">{{ item.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </nav>
</header>
